#Sysdig Access Token
sysdig_access_key     = "provide-agent-token-here"          # Sysdig UI > Settings > Agent Installation > Your Access Key
sysdig_collector_url  = "ingest-us2.app.sysdig.com"         # https://docs.sysdig.com/en/docs/administration/saas-regions-and-ip-ranges
sysdig_collector_port = "6443"
sysdig_secure_api_token = "provide-apikey-here"             # Sysdig UI > Settings > User Profile > Sysdig Secure API Token"
