# You should update the below variables

# aws_region and core_stack_name from teh core-infra example
# core_stack_name is also same as cluster_name
aws_region      = "us-west-2"
core_stack_name = "ecs-blueprint-infra"

#The AWS Secrets Manager secret name containing the plaintext Github access token
github_token_secret_name = "ecs-github-token"
repository_owner         = "aws-ia"

# It is optional to change the below variables

service_name         = "ecsdemo-frontend"
namespace            = "default"
backend_svc_endpoint = "ecsdemo-nodejs"
desired_count        = 3
task_cpu             = 256
task_memory          = "512"
container_name       = "ecsdemo-frontend"

#Don't change the container port as it is specific to this app example

container_port = 3000
