# You should update the below variables

# aws_region from the core-infra example
aws_region = "us-west-2"


# It is optional to change the below variables
# core_stack_name is also same as ecs_cluster_name
core_stack_name = "ecs-blueprint-infra"
service_name    = "otel-collector-test"
namespace       = "default"
desired_count   = 1
task_cpu        = 1024
task_memory     = 2048

container_name            = "prometheus-sample-app"
container_image           = "public.ecr.aws/aws-otel-test/prometheus-sample-app:latest"
container_port            = 8080
adot_config_ssm_parameter = "otel-collector-config"

sidecar_container_definitions = [
  {
    container_name  = "aws-otel-collector",
    container_image = "public.ecr.aws/aws-observability/aws-otel-collector:latest",
    map_secrets     = { "AOT_CONFIG_CONTENT" : "otel-collector-config" },
    map_environment = { "PROMETHEUS_SAMPLE_APP" : "prometheus-sample-app:8080" }
  }
]
