  </div> <!-- closes the div container body-content -->

  <div class="footnote">v<%= version %> - Ben Coleman and Michael Fischer, 2022</div>
</body>

<!-- Area for invisible CI/CD trigger changes and stuff -->

</html>
