ecs_service_name = {
  client = "service-client"
  server = "service-server"
}

cpu_threshold = {
  client = "80"
  server = "80"
}

memory_threshold = {
  client = 80
  server = 80
}

ecs_desired_tasks = {
  client = 1
  server  = 1
}

deployment_minimum_healthy_percent = {
  client = 100
  server  = 100
}

deployment_maximum_percent = {
  client = 200
  server  = 200
}

ecs_autoscaling_min_capacity = {
  client = 1
  server = 1
}

ecs_autoscaling_max_capacity = {
  client = 8
  server = 8
}

seconds_health_check_grace_period = 30

# GitHub connection
repository_owner = ""
repository_name = ""
repository_branch = ""
github_token = ""
